.container{
    display : flex;
    height : 50px;
    
    flex-direction: row;
    gap : 25px;

   
}

.box-1{
    border: 2px solid rgb(25, 194, 33);
    padding: .5em;
}

.box-2{
    border: 2px solid rgb(28, 28, 165);
    padding: .5em;
}


.box-3{
    border: 2px solid rgb(202, 22, 37);
    padding: .5em;
}

